@import "../../scss//variable.scss";
.trustedsection {
  padding: 3rem;
  background-color: $bg;
  .wrapper {
    h3 {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .companies {
      margin-top: 3rem;
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .icon {
          font-size: 3rem;
        }
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
