$bg:#F6F8FA;
$footer_bg: #0a1435;
$btn:rgb(98 84 243);
$border: rgba(98, 84, 243, 0.5);
$hr:#ffff;
$gradient :linear-gradient(0deg,rgb(132 144 255) 0%,rgb(98 189 252) 100%);
$shadow:rgba(0,0,0,0.02) 0 1px 3px 0, rgba(27,21,35,0.15) 0 0 0 1px ;
$shadowSupport:rgba(0,0,0,0.16) 0 1px 4px ;

$text: rgb(82, 82, 82);
$header:rgba(24, 24, 29, 0.501);
$white:white;
$black:#212529;
$helper:#8490ff;
